


  <div class="row">
    <div class="col-xs-8">
      <h2>Cockpit enfant (output)</h2>
        <p>Ajouter un nouveau serveur ou un serveur Bleu</p>
        <label for="name">Nom du serveur</label>
        <input type="text" [(ngModel)]="newServerName"
              name="name" id="name" class="form-control"/>
        <label for="desc">Description serveur</label>
        <input type="text" [(ngModel)]="newServerDesc" 
              name="desc" id="desc" class="form-control"/>
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Ajouter un server</button>
        <button class="btn btn-primary" (click)="onAddBluePrint()">Ajouter un server Bleu</button>
    </div>
  </div>

