


 <div class="row" style="margin-bottom:2%;">
    <div align="center" class="col-xs-12" id="colCompteur">
      <h2>Compteur enfant</h2>
        <p>Incrémenter ou décrémenter un nombre.</p>
        
        <div class="compteur">{{compteur}}</div>


        <button class="btn btn-primary" (click)="incrementer()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn btn-primary" (click)="decrementer()"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
  </div>