


 <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 style="text-align:center;">Elément serveur</h2>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <p>
              type : {{element.type}} - 
              <strong [ngClass]="{'vert' : element.type == 'server', 'bleu' : element.type == 'blue'}">
              nom : {{element.name}} </strong> -
              desc :  {{element.desc}}
          </p>
        </div>
      </div>
    </div>
  </div>